@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url("/src/assets/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url("/src/assets/fonts/geist/GeistMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MineSweeper';
  src: url("/src/assets/fonts/mine-sweeper.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-minesweeper {
    font-family: 'MineSweeper', sans-serif;
  }
}

svg.lucide {
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: square;
}

body {
  font-family: "GeistMono", sans-serif;
}

@layer base {
  :root {
    --radius: 0rem;

    --background: oklch(100% 0 0);
    --foreground: oklch(14% 0 0);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(14% 0 0);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(14% 0 0);
    --primary: oklch(20% 0 0);
    --primary-foreground: oklch(98% 0 0);
    --secondary: oklch(97% 0 0);
    --secondary-foreground: oklch(20% 0 0);
    --muted: oklch(97% 0 0);
    --muted-foreground: oklch(56% 0 0);
    --accent: oklch(97% 0 0);
    --accent-foreground: oklch(20% 0 0);
    --destructive: oklch(64% 0.21 25);
    --destructive-foreground: oklch(98% 0 0);
    --border: oklch(92% 0 0);
    --input: oklch(92% 0 0);
    --ring: oklch(14% 0 0);

    --game-border: oklch(72% 0.02 248);
    --game-hidden: oklch(98% 0.00 248);
    --game-revealed: oklch(78% 0.02 248);
    --game-button: oklch(90% 0.01 248);
    --game-hover: oklch(93% 0.02 253);
    --game-explodedmine: oklch(64% 0.21 25);
    --game-wrongflag: oklch(86% 0.17 92);
    --game-redborder: oklch(71% 0.15 22);
    --game-blueborder: oklch(85% 0.14 195);
    
    --game-number-1: oklch(48% 0.30 275);
    --game-number-2: oklch(55% 0.18 143);
    --game-number-3: oklch(63% 0.26 29);
    --game-number-4: oklch(28% 0.17 277);
    --game-number-5: oklch(41% 0.17 29);
    --game-number-6: oklch(56% 0.10 195);
    --game-number-7: oklch(0% 0 0);
    --game-number-8: oklch(60% 0 0);
    --game-number-0: oklch(92% 0 0);
    --game-number--1: oklch(97% 0.21 110);
    --game-number--2: oklch(77% 0.22 330);
    --game-number--3: oklch(86% 0.14 195);
    --game-number--4: oklch(95% 0.15 121);
    --game-number--5: oklch(92% 0.12 195);
    --game-number--6: oklch(74% 0.16 22);
    --game-number--7: oklch(100% 0 0);
    --game-number--8: oklch(60% 0 0);
  }
  .dark {
    --background: oklch(14% 0 0);
    --foreground: oklch(98% 0 0);
    --card: oklch(14% 0 0);
    --card-foreground: oklch(98% 0 0);
    --popover: oklch(14% 0 0);
    --popover-foreground: oklch(98% 0 0);
    --primary: oklch(98% 0 0);
    --primary-foreground: oklch(20% 0 0);
    --secondary: oklch(27% 0 0);
    --secondary-foreground: oklch(98% 0 0);
    --muted: oklch(27% 0 0);
    --muted-foreground: oklch(72% 0 0);
    --accent: oklch(27% 0 0);
    --accent-foreground: oklch(98% 0 0);
    --destructive: oklch(40% 0.13 26);
    --destructive-foreground: oklch(98% 0 0);
    --border: oklch(27% 0 0);
    --input: oklch(27% 0 0);
    --ring: oklch(87% 0 0);

    --game-border: oklch(38% 0.02 248);
    --game-hidden: oklch(21% 0.01 248);
    --game-revealed: oklch(34% 0.02 248);
    --game-button: oklch(28% 0.01 248);
    --game-hover: oklch(24% 0.05 255);
    --game-explodedmine: oklch(50% 0.20 28);
    --game-wrongflag: oklch(72% 0.15 91);
    --game-redborder: oklch(39% 0.13 25);
    --game-blueborder: oklch(43% 0.07 195);
    
    --game-number-1: oklch(63% 0.20 274);
    --game-number-2: oklch(64% 0.21 143);
    --game-number-3: oklch(63% 0.26 29);
    --game-number-4: oklch(49% 0.27 294);
    --game-number-5: oklch(53% 0.22 29);
    --game-number-6: oklch(62% 0.11 195);
    --game-number-7: oklch(51% 0 0);
    --game-number-8: oklch(68% 0 0);
    --game-number-0: oklch(85% 0 0);
    --game-number--1: oklch(89% 0.19 110);
    --game-number--2: oklch(77% 0.22 330);
    --game-number--3: oklch(86% 0.14 195);
    --game-number--4: oklch(95% 0.15 121);
    --game-number--5: oklch(92% 0.12 195);
    --game-number--6: oklch(74% 0.16 22);
    --game-number--7: oklch(100% 0 0);
    --game-number--8: oklch(60% 0 0);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply font-bold;
  }

  p {
    @apply text-sm text-muted-foreground;
  }

  small {
    @apply text-xs text-muted-foreground;
  }
}
